@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@600&family=Shadows+Into+Light&display=swap");
/*---------------------------------------------LIS---------------------------------------------------------------*/
.LISdata {
  overflow-wrap: break-word;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: central;
  transform: scale(0.83333);
  transform-origin: center center;
  transform-box: fill-box;
  font-family: Inter, -apple-system, system-ui, "Helvetica Neue", sans-serif;
  display: block;
  white-space: nowrap;
  user-select: none;
}
/*----------------------------------------------------------HOMEPAGE-------------------------------------------------*/
@keyframes homepage {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
.home_animation {
  stroke: rgb(0, 0, 0);
  animation-name: homepage;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
.homepage_screen {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/*---------------------------------------------NAVBAR-------------------------------------------------------*/
.navbar {
  max-width: fit-content;
  background-color: rgb(236, 236, 236);
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}
.line {
  display: flex;
  flex-direction: row;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 666px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .navbar {
    width: 100vw;
    max-width: 100vw;
    height: fit-content;
    max-height: fit-content;
  }
  .line {
    flex-direction: column;
  }
}
/*---------------------------------------------------LCS------------------------------------------------------------*/
.lcs_prblm {
  margin: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  width: calc(100% - 50px);
  border: 2px solid #ccc;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 18px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  font-weight: bold;
  font-family: Menlo, monospace;
  color: rgb(0, 0, 0);
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}
.lcs_length {
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  width: calc(100% - 50px);
  border: 2px solid #ccc;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 18px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  font-weight: bold;
  font-family: Menlo, monospace;
  color: rgb(0, 0, 0);
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
}

.string_font {
  font-size: 20px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  text-align: center;
  font-weight: bold;
  font-family: Menlo, monospace;
  color: rgb(0, 0, 0);
  padding-left: 3px;
  padding-right: 3px;
  user-select: none;
}
.string_text {
  display: flex;
  flex-direction: row;
}
.graph {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.string_data {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px 7px 0 0;
  padding: 2px;
}
.font_input {
  font-family: Menlo, monospace;
  font-size: 14px;
}
.footer {
  font-size: 0.8em;
  -webkit-box-flex: 0;
  flex-grow: 0;
  text-align: center;
  margin-top: 0.5em;
  opacity: 0.35;
  color: rgb(0, 0, 0);
  overflow: hidden;
}
.svg {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-radius: 0px 0px 8px 8px;
  background-color: rgb(255, 255, 255);
  margin: 0.6em;
  overflow: hidden;
}
.padding_style {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: calc(100% - 1.6em);
  border: 1px solid rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(120, 120, 120, 0.05) 10px 10px 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.input_lcs {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
  font-family: Times;
  width: calc(100% - 50px);
  padding: 12px;
  border: 2px solid #ccc;
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.lcs-homepage {
  margin-top: 20px;
  margin-left: 33%;
  width: max-content;
  font-family: Times;
  background-color: gray;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.lcs-visual {
  position: relative;
  margin-top: 35px;
  margin-left: 35%;
  width: max-content;
  font-family: Menlo, monospace;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
*:focus {
  outline: none;
}
.treedata {
  overflow-wrap: break-word;
  font-size: 40px;
  font-weight: bold;
  text-anchor: middle;
  transform-origin: center center;
  transform-box: fill-box;
  alignment-baseline: central;
  font-family: Inter, -apple-system, system-ui, "Helvetica Neue", sans-serif;
  display: block;
  white-space: nowrap;
  user-select: none;
}
.lcs_text {
  font-size: 25px;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: central;
  user-select: none;
  paint-order: stroke;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: rgb(0, 0, 0);
  stroke: rgb(255, 255, 255);
}

.menu {
  width: 400px;
  height: 100vh;
  overflow: scroll;
}
.parent_div {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
}
@media only screen and (max-width: 666px) {
  .menu {
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
  .parent_div {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
  }
}
.hope {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  height: calc(100vh - 1.6em);
  background-color: rgb(236, 236, 236);
  overflow: hidden;
}
/*-------------------------------------------------coin change -----------------------------------------------*/
@keyframes good-coin {
  0% {
    transform: scale(0.5);
    background-color: rgba(195, 0, 255, 0.274);
    border-radius: 100%;
  }
  25% {
    background-color: rgba(217, 17, 17, 0);
  }
  50% {
    background-color: rgba(252, 7, 211, 0.582);
  }
  75% {
    transform: scale(1.1);
    background-color: rgba(73, 50, 205, 0.671);
  }

  100% {
    transform: scale(1);
    background-color: rgb(53, 128, 35);
  }
}
@keyframes bad-coin {
  0% {
    transform: scale(0.5);
    background-color: cyan;
    border-radius: 100%;
  }
  25% {
    background-color: rgb(252, 81, 147);
  }

  50% {
    background-color: rgb(247, 12, 71);
  }
  75% {
    transform: scale(1.1);
    background-color: rgb(255, 60, 0);
  }
  100% {
    transform: scale(1);
    background-color: rgb(253, 32, 2);
  }
}
.coinreachable_done {
  background-color: rgb(53, 128, 35);
}
.coinunreachable_done {
  background-color: rgb(253, 32, 2);
}
.square {
  height: 75px;
  width: 250px;
  text-align: left;
  padding-left: 20px;
  border-radius: 50%;
  overflow: hidden;
  padding-bottom: 25px;
}

.rightgap {
  margin-right: 5px;
}
.problem {
  text-align: center;
  font-family: Times;
}
.homepage_button:hover {
  box-shadow: 10px 10px 10px grey;
}
.padder {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
.marginer {
  margin-top: 12px;
  margin-bottom: 16px;
}
.visited {
  background-color: yellow;
}
.danger::placeholder {
  color: red;
  opacity: 1;
}
::placeholder {
  font-family: Times;
}
.coin_input {
  border-radius: 10px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.input_item {
  margin: auto;
}
.button_div {
  padding-bottom: 15px;
}
.create_coin_button {
  font-family: Times;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.back_button {
  font-family: Times;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.visualize_button {
  font-family: Times;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
:link {
  text-decoration: none;
}
.homepage_button {
  font-family: Times;
  width: 400px;
  margin-top: 4px;
  margin-bottom: 25px;
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width 3s, height 3s, transform 100ms;
  user-select: none;
}
.input_field_size {
  font-family: Times;
  width: 400px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.next {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.remove {
  visibility: hidden;
}
.coin {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  cursor: pointer;
}
.row {
  display: inline-block;
}
.coin-color {
  background-color: cyan;
}
.coinreachable {
  animation-name: good-coin;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
.coinunreachable {
  animation-name: bad-coin;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
